{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}My Site{% endblock %}</title>
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    {% block extra_css %}{% endblock %}
</head>
<body>

    <!-- Header -->
    {% include "core/partials/header.html" %}

    <!-- Main content -->
    {% block content %}{% endblock %}

    <!-- Footer -->
    {% include "core/partials/footer.html" %}

    <script src="{% static 'assets/js/main.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>